/* стили первого плеера */
.video-js {
  font-size: 10px;
  color: #fff;
}
.vjs-custom-skin {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vjs-custom-skin #content_video_html5_api,.vjs-custom-skin .vjs-control {
  outline: none;
}
.vjs-custom-skin #content_video_html5_api::-moz-focus-outer, .vjs-custom-skin .vjs-control::-moz-focus-inner {
  border: 0;
}

.vjs-custom-skin .vjs-big-play-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  border: none;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.75em;
}
.video-js .vjs-control-bar {
  border-radius: 1em;
}
/* */


/* стили второго плеера */
.plyr {
  border-radius: 1em;
}

.plyr--full-ui input[type=range] {
  color: white !important;
}

.plyr__control--overlaid,
.plyr--video .plyr__control:hover,
.plyr__control.plyr__tab-focus {
  background-color: rgb(71, 71, 71) !important;
  box-shadow: 0 0 0 5px  rgba(0, 0, 0, 0.6) !important;
}
/* */

/*Стили элемента прокрутки */
html, body {
  scrollbar-color: #444444 #2a2a2a;
  scrollbar-width: auto;
  scrollbar-shadow-color: aliceblue;
}

::-webkit-scrollbar-button {
  /*background-image:url('');*/
  background-repeat:no-repeat;
  width:6px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color:#2a2a2a;
  box-shadow:0px 0px 3px #000 inset;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#444444;
  box-shadow:0px 1px 1px #fff inset;
  background-image:url('https://yraaa.ru/_pu/24/59610063.png');
  background-position:center;
  background-repeat:no-repeat;
}

::-webkit-resizer{
  /*background-image:url('');*/
  background-repeat:no-repeat;
  width:7px;
  height:0px
}

::-webkit-scrollbar{
  width: 11px;
}
/* */
/*Стили контейнера плеера*/
.video-wr {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}
.frame-wr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}
.video-wr:before {
  display: block;
  content: "";
  width: 100%;
}
/* */
.tile-img {
  max-height: 128px;
  max-width: 128px;
  margin: auto;
}
.tile-text {
  font-size: 0.9em!important;
  line-height: 1.5;
  cursor: pointer;
}


